* {
  margin: 0;
  scroll-behavior: smooth;
}

a:hover {
  cursor: pointer;
}

body{
  font-family: Verdana;
  font-size:14px;
}

header{
  background-color:#183573;
  width:900px;
  height: 80px;
}

header a{
  padding:18px 5px 5px 5px;
  color:#ffffff;
  font-size:42px;
  font-family: Impact;
  font-weight:normal;
  text-decoration:none;
  text-align: left;
  display: block;
}

#headerLogo{
  height: 45px; 
  display: block; 
  float: left;
  margin: 2px 5px 0px 290px;
}


#wrapper{
  width:900px;
  margin:auto;
  background-color:#c8c8c8;;
  ;
}

#bigimage img{
  width:900px;
}

#bigimage p{
  color:#00c9fd;
  background-color:#ffffff;
  font-size:12px;
}

nav{
  background-color: #C8C8C8;
  ;
  width:900px;
}

article{
  background-color:#C8C8C8;
  width:900px;
}

footer{
  background-color:#183573;
  width:900px;
  height:150px;
}

footer p{
  color:white;
}

nav a{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:18px;
  font-weight:bold;
  color:black;
  text-decoration:none;
  display: inline-block;
  text-align:center;
  width:160px;
  height:40px;
  line-height:40px;
}

nav a.wide {
  width: 275px;
}

nav a:hover{
  background-color:white;
  font-size:18px;
}

img{
  display:block;
}

p{
  padding:20px;
}

article h1, article h2, article h3{
  padding:10px;
  font-family:Verdana;
  font-size:25px;
  text-align:center;
}

article{
  margin:20px 0px;
}

article img{
  float:right;
  margin:20px;
}

p a, ul a{
  text-decoration:none;
  color:black;
}

p a:hover, ul a:hover{
  text-decoration: underline;
}

#topnav {
  overflow: hidden;
  background-color: #c8c8c8;
}

#topnav a.BM{
  width: 160px;
}

#topnav a.OW{
  width:135px;
}

#topnav a {
  color: black;
  padding: 10px 12px;
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight:bold;
  color:black;
  text-decoration:none;
  display: inline-block;
  text-align:center;
  width:100px;
  height:25px;
  line-height:25px;
}

#topnav a:hover{
  background-color:white;
}

#topnav a.active {
  background-color: #183573;
  color: white;
}

#topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 13px;
  text-align: center;
}

table.team {
  width: 900px;
}

td.bigName {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

td.nameDescr {
  text-align: center;
  font-size: 18px;
}
 
td.pfp img {
  width: 230px;
  margin: 5px 85px;
}

a.linkInParagraph{
  color: blue;
}

p.BTT {
  text-align: right;
}

p.BTT a{
  color: white;
}

table.media tr td a img {
  height: 40px;
}

table.media {
margin: 5px 320px;
}

table.nieuwsItems, table.innovatieItems {
  width: 900px;
}

td.NI_header, td.II_header {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

td.NI_paragraph, td.II_paragraph {
  text-align: center;
  font-size: 12px;
}
 
td.NI_img img, td.II_img img {
  width: 290px;
  height: 170px;
  margin: 15px 0px;
}

td.nieuws1, td.innovatie1, 
td.nieuws2, td.innovatie2, 
td.nieuws3, td.innovatie3 {
  width: 300px;
} 

#smallPrint{
  font-size: 9px;
  width: 550px;
}

p.copyright{
  text-align: center;
  color: white;
}

ul.disced {
  list-style-type: disc;
}

ul.disced > li {
  text-indent: 5px;
}

h4 {
  text-align:left;
  margin-left: 20px;
}

#training img {
  width:100%;
  height:100%;
  border:5px;
  border-radius:25px;
  border-style:outset;
  border-color:#00c9fd;
}

#update img {
  width:55%;
  height:55%;
  border: 5px;
  border-radius:50%;
  border-style:outset;
  border-color:#ffae00;
}

#endpoint img {
  width:100%;
  height:100%;
  border:5px;
  border-radius:20px;
  border-style:none;
}

#firewall img {
  width:35%;
  height:35%;
  border:3px;
  border-radius:15px;
  border-style:outset;
  border-color:#ffae00;
}

#accesscontroll img {
  width:27%;
  height:27%;
  float:inline-start;
  border:5px;
  border-radius:10px;
  margin-left:20px;
  margin-bottom:5px;
}

#account img {
  width:100%;
  height:100%;
  border-radius:12px;
}

a.bron{
  color: blue; 
}

a.bron:visited{
  color: purple; 
}

table.nieuwsItems td, 
table.innovatieItems td{
  vertical-align: top;
}

#previmg img {
  width:35%;
  height:35%;
}

a.NGGYU{
  color: black;
  text-decoration: none;
}

hr.rounded {
  border-top:8px solid;
  color:#ffae00;
  border-radius:5px;
  width:800px;
  margin-left:50px;
  outline-style:outset;
} 